#body{
    margin: 0%;
    padding: 0%;
}
#navbar{
    display: flex;
    width: 100%;
    height: 130px;
 background-color: rgba(224, 220, 220, 0.863);
   
    margin: 0%
}
#navbar>img{
   margin-top: 2%;
    margin-left:8%;
}
#allcat>select{
    width: 60px;
    height:50px ;
    border: transparent;
    
}
#middle{
    display: flex;
    width: 500px;
    height: 50px;
    margin-top: 2.5%;
    margin-left:8%;
    background: white;
}
#textmid{

    margin-top: 1%;
    margin-left:8%;
    font-size: 15px;
    border: transparent;
}
#search_bar{
   margin-left: 30%;
    height: 100%;
}

#signin{
   margin-top: 2%;
    margin-left:4%;
}
#sign_in{
   margin-top: 2%;
    margin-left:4%;
}
#undernav{
display: flex;
width: 95%;
height: 50px;
padding-left: 50px;
}

.abcd{
margin-left: 40px;
color: rgb(185, 173, 173);
}
#imageabcd{
margin-left: 200px;
}
#leftnav{
width: 20%;
background-color: rgba(224, 220, 220, 0.863);

}

#leftnav>div{
width: 200px;
height: 30px;

border-bottom: 1px solid  gray;
margin: auto;
}
#zxcv{
display: flex;
width: 100%;
height: 580px;
}
#slideshow{
width: 80%;
height: 100%;
}
#underindex{
 width: 100%;
 height: 2850px;
 background-color: rgba(246, 244, 244, 0.863);

}
#innerunderindex{
  width: 82%;
  height: 500px;
background-color: rgba(246, 244, 244, 0.863);
  
   margin: auto;
}
#roundedimage{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
#dataappend{
  display: grid;
  grid-template-columns: repeat(4,24%);
  grid-gap:1%;
background-color: rgba(246, 244, 244, 0.863);
  

}
#creatediv{
  margin-top: 10px;
background-color: rgba(246, 244, 244, 0.863);
box-shadow: 5px 10px 18px greenyellow;
  padding-left: 20px;
}
body{
background-color: rgba(246, 244, 244, 0.863);


}
#footercontainer{
   width: 100%;
   height: 500px;
   background-color: white;
}
#footerabcd{
   width: 80%;
   height: 500px;
   margin: auto;
}
#footerfirst{
   display: flex;
}
#footersecond{
  display: flex;
}
#footersecond>div{
   margin-right: 30px;
}
#footersecond>div>input{
   height: 40px;
   width: 300px;
}
#footersecond>div>button{
  height: 40px;
   background-color: rgb(236, 140, 14);
}
#leftnav>div>h4:hover {
color: red;
width: 300px;
height: 500px;
cursor: pointer;
}
#filterbutton{
   width: 150px;
   height: 30px;
}
#creatediv:hover {

  
      -ms-transform: scale(1.1); 
      -webkit-transform: scale(1.1); 
      transform: scale(1.1); 
      cursor: pointer;
    
   }